body {
  background-color: #ff92e9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Georgia, serif;
}

@font-face {
  font-family: 'NostalgicRemain';
  src: url('/fonts/NostalgicRemain.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}